extends ../layouts/layout

block content
  style.
    .ui.vertical.divider {
      left: 100%;
    }
    .ui.action {
      margin-bottom: 30px;
    }
  .ui.container
    .ui.segment.equal.width.doubling.stackable.grid

      .column.center.aligned.grid
        h3.ui.header
          .content
            | Rechercher un joueur
            .sub.header Récupérer toutes les données d'un joueur

        #getUser
          .ui.action.left.icon.input.small-hide.tablet-hide
            i.search.icon
            input(type='text', name='username', placeholder='Pseudo')
            button.ui.button Chercher
          .ui.form.small-visible.tablet-visible
            .field
              input(type='text', name='username', placeholder='Pseudo')
            button.ui.submit.button Chercher

        .ui.vertical.divider OU

      .column.center.aligned.grid
        h3.ui.header
          .content
            | Rechercher une IP
            .sub.header Récupérer tous les joueurs avec cette IP

        .ui.action.left.icon.input.small-hide.tablet-hide
          i.search.icon
          input(type='text', name='ip', placeholder='IP')
          button.ui.button Chercher
        .ui.form.small-visible.tablet-visible
          .field
            input(type='text', name='ip', placeholder='IP')
          button.ui.submit.button Chercher

        .ui.vertical.divider OU

      .column.center.aligned.grid
        h3.ui.header
          .content
            | Rechercher une adresse MAC
            .sub.header Récupérer tous joueurs avec cette adresse MAC

        .ui.action.left.icon.input.small-hide.tablet-hide
          i.search.icon
          input(type='text', name='mac', placeholder='Adresse MAC')
          button.ui.button Chercher
        .ui.form.small-visible.tablet-visible
          .field
            input(type='text', name='mac', placeholder='Adresse MAC')
          button.ui.submit.button Chercher

block custom
  script(type='text/javascript', src='/assets/js/inputmask.js')
  script(type='text/javascript', src='/assets/js/inputmask.extensions.js')
  script(type='text/javascript').
    // Input mask
    Inputmask('ip').mask($('input[name="ip"]'))
    Inputmask('mac').mask($('input[name="mac"]'))
    // inputs
    $('input').on('keyup', function () {
      var name = $(this).attr('name')
      $('input[name="' + name + '"]').val($(this).val())
    })
    $('#getUser button').on('click', function (e) {
      e.preventDefault()
      var btn = $(this)
      btn.addClass('loading')
      // Redirect
      window.location = '/user/' + $('#getUser input[name="username"]').val()
    })
